@tailwind base;
@tailwind components;
@tailwind utilities;

.font-sans {
  font-family: sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100vw;
  min-height: 100vh;
}